body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  #logo {
    max-width: 200px;
  }
  
  input.form-control {
    height: 50px;
    font-size: 1.2rem;
  }
  
  button.btn {
    height: 50px;
    font-size: 1.2rem;
  }
  
  #result {
    margin-top: 20px;
    font-size: 1.2rem;
  }
  
  footer {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  