/* Cor principal */
:root {
    --primary-color: #008495;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  /* Estilos customizados */
  .bg-custom {
    background-color: var(--primary-color) !important;
  }
  
  .text-custom {
    color: var(--primary-color) !important;
  }
  
  #logo {
    max-width: 200px;
  }
  
  input.form-control {
    height: 50px;
    font-size: 1.2rem;
  }
  
  button.btn-custom {
    height: 50px;
    font-size: 1.2rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
  }
  
  button.btn-custom:hover {
    background-color: #006f75;
  }
  
  #result {
    margin-top: 20px;
    font-size: 1.2rem;
  }
  
  footer {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  